<h1>Page2</h1>


<table class="table">
 <tr >
    <th>Id</th>
    <th>Name</th>
  </tr>

  <tr ng-repeat="x in items">
    <td>{{x.id}}</td>
    <td>{{x.name}}</td>
  </tr>

</table>




<hr/>
<h2>Add</h2>
<form ng-submit="addNewItem()">
 <div class="form-group">
    <label >Id</label>
    <input type="text" class="form-control" ng-model="newItem.id" placeholder="id">
  </div>
  <div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control"  ng-model="newItem.name"  placeholder="name">
  </div>
  
  <button type="submit" class="btn btn-primary">Save</button>
    
</form>